// styles.css
@import "minireset.min";
@import "variables";

/******
***FONTS***
******/

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 34px;
}

hr {
  font-size: 26px;
}

/******
***LAYOUT***
******/

body {
  display: flex;
  justify-content: center;
}

header {

  & h1 {
    width: fit-content;
  }

  & h4 {
    width: fit-content;
    letter-spacing: 9px;
  }

}

nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & li {
    padding: 10px;
    width: 100%;
  }
}

ul {
  z-index: -1;
  max-height: 0px;
}

button {
  color: #000;
  background: #fff;
  margin: 5px;
  border: 1px solid;
}

main {

}

footer {

}
