// styles.css
@import "minireset.min";
@import "variables";

/******
***FONTS***
******/
h1 {
  font-size: 50px
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 18px;
}

/******
***FONT-AWESOME***
******/
.fa-9x {
  margin: 10px auto;
  // transition: all 1s ease-in;
  // z-index: -1;
  &:hover {
    transform: scale(1.2);
    // transition: all 1s ease-in;
  }
}
.svg-logo {
  height: 170px;
  margin: auto;
  // transition: all 1s ease-in;
  // z-index: -1;
  &:hover {
    transform: scale(1.2);
    // transition: all 1s ease-in;
  }
}

/******
***LAYOUT***
******/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $colorAd2;
  background: $colorA;
  width: 100%;
}

.jumbotron {
  width: 100%;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: center;
  top: 0px;
  width: 100%;
  background: $colorAd2;
  color: $colorA;
  z-index: 1;
}

.navbar__toggler {
  display: none;
}

.links {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
  &__item {
    padding: 20px 10px;
    border-radius: 50px;
    color: $colorA;
    text-decoration: none;
    transition: all .3s ease-in;

    @media screen and (min-width: 480px) {
      &:hover {
        background: $colorA;
        color: $colorAd2;
        transform: scale(1.5);
        transition: all .5s ease-in;
      }
    }
  }
}
.content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
  &__part {
    border: 5px solid $colorAd1;
    padding: 10px;
    margin: 10px;
    box-sizing:border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 400px;
  }
  &__title {
    width: 100%;
  }
}
